@using ProjetoWeb.Models;
@model ProjetoWeb.Models.RetornoProduto
@{
    ViewBag.Title = "CadastrarProduto";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<script>
    $(document).ready(function () {

        jQuery(".excluir").click(function () {
            var r = confirm("Deseja mesmo excluir esse produto?");
            if (r == true) {
                var idButton = $(this).val()
            $.ajax({
                url: "/@System.Configuration.ConfigurationManager.AppSettings.Get("produtoDelete")",
                type: "POST",
                dataType: "json",
                data: {
                    id: idButton
                },
                success: function (result) {
                    if (result.sucesso == false) {
                        alert(result.erro)
                    }
                    else
                    {
                        alert("Excluído com sucesso.")
                        var seletor = 'tr[value = ":x"]'
                        seletor = seletor.replace(":x", idButton);
                        jQuery(seletor).hide();
                    }
                }
            });
            }
            
        });
    });
</script>

@if (!(Model == null))
{
    if (Model.sucesso == true)
    {
        <script>
            alert("Empresa cadastrada com sucesso.");
        </script>
    }
    else if (Model.sucesso == false)
    {
        <script>
                    alert('@Model.erro');
        </script>
    }
}
<h1>Cadastro de Produto</h1>
<button id="myBtn">Cadastrar Produto</button>
<table class="tabela">

    <tr>
        <td>
            <b class="texto14">Produto</b>
        </td>
        <td>
            <b class="texto14">Cód. Produto</b>
        </td>
        <td>
            <b class="texto14">Número EAN</b>
        </td>
        <td>
            <b class="texto14">Ação</b>
        </td>
    </tr>
    @foreach (Produto produto in Model.listProdutos)
    {
    <tr value="@produto.id">
        <td>
            <b class="texto nomeProduto-@produto.id" value="@produto.nomeProduto">@produto.nomeProduto</b>
        </td>
        <td>
            <b class="texto codProduto-@produto.id" value="@produto.codProduto">@produto.codProduto</b>
        </td>
        <td>
            <b class="texto nrEAN-@produto.id" value="@produto.nr_EAN">@produto.nr_EAN</b>
        </td>
        <td>
            <button value="@produto.id" class="btn btn-default excluir">Excluir <span class="glyphicon glyphicon-trash"></span></button>
            <button value="@produto.id" id="" class="btn btn-default editProd">Editar <span class="glyphicon glyphicon-pencil"></span></button>
        </td>
    </tr>
    }
</table>


<div id="myModal" class="modal">

    <div class="modal-content">
        <span class="close" id="close">&times;</span>
        <form id="formulario" action="#" method="post">
            <fieldset class="center-block">
                <fieldset>
                    <div class="campo">
                        <label class="col-sm-12 texto" for="nomeProduto">Nome</label>
                        <input class="col-sm-12 texto" type="text" id="NomeProduto" name="nomeProduto" style="width: auto" value="">
                    </div>
                    <div class="campo">
                        <label class="col-sm-12 texto" for="codProduto">Cód. Produto</label>
                        <input class="col-sm-12 texto" type="text" id="CodProduto" name="codProduto" style="width: auto" value="">
                    </div>
                    <div class="campo">
                        <label class="col-sm-12 texto" for="nr_EAN">EAN</label>
                        <input class="col-sm-12 texto" type="number" id="Nr_EAN" name="nr_EAN" style="width: auto" value="">
                    </div>
                </fieldset>
                <button class="submit" type="submit" name="submit">Cadastrar</button>
            </fieldset>
        </form>
    </div>
</div>

<div id="myModalEdit" class="modal">

    <div class="modal-content">
        <span class="close" id="closeEdit">&times;</span>
        <form id="formulario" action="#" method="post">
            <fieldset class="center-block">
                <fieldset>
                    <div class="campo">
                        <label class="col-sm-12 texto" for="nomeProduto">Nome</label>
                        <input class="col-sm-12 texto" type="text" id="edNomeProduto" name="nomeProduto" style="width: auto" value="">
                    </div>
                    <div class="campo">
                        <label class="col-sm-12 texto" for="codProduto">Cód. Produto</label>
                        <input class="col-sm-12 texto" type="text" id="edCodProduto" name="codProduto" style="width: auto" value="">
                    </div>
                    <div class="campo">
                        <label class="col-sm-12 texto" for="nr_EAN">EAN</label>
                        <input class="col-sm-12 texto" type="number" id="edNr_EAN" name="nr_EAN" style="width: auto" value="">
                    </div>
                </fieldset>
                <button class="submit" id="submitEditProd" type="button" name="submitEdit">Cadastrar</button>
            </fieldset>
        </form>
    </div>
</div>